<h2 id="username" data-id="id">{{name}}'s page</h2>
<h3>Blog Posts</h3>
{{#blogs}}
    <h3 id="blog" data-id "{{this.id}}">Title: {{this.title}} </h3>
    <p>{{this.body}}</p>
    <p>Date Posted: {{this.dateCreated}}</p>
    <button class="update-btn btn btn-primary"> Update Me!</button>
    <input type="text" placeholder="Input your updated blog post here" id="blog-input-{{id}}"/>
    <button class="del-btn btn btn-primary" blog-id="{{id}}">Delete me!</button>
    {{#each comments}}
    <p>Comment: {{text}}</p>
    {{/each}}
    <hr>
{{/blogs}}

<h3>Add a new Blog Post</h3>
<form action="">
    <input type="text" id="title" placeholder="title">
    <input type="text" id="body" placeholder="body">
    <button class="btn btn-primary">Post!</button>
</form>

<script src="/js/dashboard.js"></script>